#root {
  margin: 0;
  padding: 0;
}

.hero-header {
  background:no-repeat url('./assets/hero-img.png'),
  linear-gradient(to right bottom, #474747, #3d3d3d,
    #343434, #2b2b2b, #222222);
  background-position: bottom 0 right 0;
}

.header {
  height: 100px;
}

.header h1 {
  width: 90px;
  color: #0A72AD;
  font-size: 24px;
  font-weight: bold;
}

.header h1 span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
}

.header ul {
  width: 980px;
}

.header ul li {
  color: #C4C4C4;
  cursor: pointer;
}

.header ul li:hover {
  color: #fff;
}

.first-para {
  width: 660px;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}

.second-para {
  width: 550px;
  font-size: 18px;
  font-weight: 500;
  color: #C4C4C4;
}

.main-btn {
  width: 200px;
  height: 65px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(to right bottom,
  #60bbee, #4ea8de, #3b96cd, #2784bd, #0a72ad);
  outline: none;
  border: none;
}

.hints {
  width: 380px;
}

.hint h2 {
  font-size: 36px;
  font-weight: bold;
  color: #fff;
}

.hint h2 span {
  color: #2387C0;
}

.hint p {
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  color: #C4C4C4;
}

.project-hint {
  position: absolute;
  right: 0;
  transform: translate(0, calc(-166px + 3rem));
  width: 745px;
  height: 166px;
  background-image: linear-gradient(to right bottom,
  #399fd8, #3197d1, #298fcb, #2087c4, #177fbd,
  #1176b2, #0a6ea6, #02659b, #005989, #004d78,
  #004267, #003756);
}

.project-hint h2 {
  width: 90px;
  color: #fff;
  line-height: 30px;
  font-size: 24px;
  font-weight: 600;
}

.project-hint h2 span {
  font-size: 18px;
  font-weight: 500;
}

.project-hint p {
  color: #fff;
  width: 300px;
  line-height: 30px;
  font-size: 14px;
  font-weight: normal;
}

.services {
  background-color: #F6F6F6;
  opacity: 0.8;
}

.service h2 {
  width: 300px;
  line-height: 64px;
  color: #242527;
  font-size: 46px;
  font-weight: 600;
}

.service p {
  width: 540px;
  height: 110px;
  line-height: 40px;
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 500;
}

.item h3 {
  color: #242527;
  font-size: 28px;
  font-weight: 600;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.item p {
  width: 330px;
  color: #C4C4C4;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
}

.title div {
  margin-bottom: 4rem;
  width: 90px;
  height: 10px;
  background-image: linear-gradient(to right,
  #60bbee, #52aee2, #44a1d7, #3594cb,
  #2387c0);
}

.title h2 {
  width: 340px;
  font-size: 46px;
  font-weight: 600;
  line-height: 69px;
  color: #242527;
}

.about p {
  width: 560px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #C4C4C4;
}

.icon {
  width: 94px;
  height: 94px;
  color: #fff;
  background-color: #005989;
  border: 10px solid #60bbee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fontIcon {
  width: 40px;
  height: 40px;
}

.dif h3 {
  font-size: 24px;
  font-weight: 600;
  color: #242527;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.dif p {
  width: 245px;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #C4C4C4;
}

.per {
  position: absolute;
  transform: translate(calc(505px  - (294px / 2)), 0);
  width: 294px;
  height: 312px;
  background-image: linear-gradient(to right bottom,
  #474747, #3d3d3d, #343434, #2b2b2b, #222222);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.per h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}

.per p {
  width: 233px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: #e5e5e5;
}

.team {
  width: 500px;
  height: 410px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.team h2 {
  font-size: 46px;
  font-weight: 600;
  color: #242527;
}

.team p {
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #C4C4C4;
}

.story h2 {
  width: 275px;
  font-size: 46px;
  font-weight: 600;
  color: #242527;
}

.story p {
  width: 550px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #C4C4C4;
}

.collect h2 {
  width: 326px;
  font-size: 46px;
  font-weight: 600;
  color: #242527;
  margin-bottom: 3rem;
}

.card {
  position: absolute;
  transform: translate( 350px, 180px);
  width: 253px;
  height: 88px;
  padding: 20px;
}

.card div {
  width: 137px;
}

.card h3 {
  font-size: 16px;
  font-weight: 600;
  color: #242527;
}

.card p {
  font-size: 12px;
  font-weight: 500;
  color: #C4C4C4;
}

.card button {
  width: 57px;
  height: 57px;
}

.customers {
  position: absolute;
  transform: translate( calc( 269px - (263px / 2)), 100px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1064px;
  height: 566px;
  background-image: linear-gradient(to right bottom,
  #474747, #3d3d3d, #343434, #2b2b2b, #222222);
}

.jacob {
  position: absolute;
  transform: translate( calc( 269px - (263px / 2)), 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 263px;
  height: 171px;
  background: #fff;
}

.jacob div {
  position: absolute;
  transform: translate( 0, -45px);
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border-bottom: 5px solid rgba(0, 132, 255, 0.637);
  background: #fff;
  color: #0A72AD;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jacob h3 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 2rem;
}

.jacob p {
  font-size: 13px;
  font-weight: 400;
  color: #939393;
}

.customer h2 {
  width: 448px;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}

.customer p {
  width: 465px;
  font-size: 17px;
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 2rem;
  color: #C4C4C4;
}

.customer button {
  width: 57px;
  height: 57px;
  position: absolute;
  transform: translate( 400px, 0);
}

.footer {
  margin-top: 23rem;
  padding-top: 23rem;
  padding-bottom: 5rem;
  background-image: linear-gradient(to right bottom,
  #474747, #3d3d3d, #343434, #2b2b2b, #222222);
}

.general h3 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.general p {
  width: 547px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #fff;
}

.social div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;
  border-radius: 50%;
  background: #2387C0;
  color: #fff;
  margin-right: 2rem;
}